<template>
  <div id="app" class="text-gray-1F2937">
    <header-acciona/>
    <main class="p-4">
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import HeaderAcciona from './components/HeaderAcciona';

export default {
    name: 'app',
    components: {
        HeaderAcciona,
    }
};
</script>

<style>
  body {
    margin: 0;
  }

  #app {
    font-family: 'Verdana', Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
