.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;

}
.justify-around {
	justify-content: space-around;
}

.justify-end {
	justify-content: flex-end;
	text-align: end;
}
.justify-start {
	justify-content: flex-start;
	text-align: start;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.font-bold {
	font-weight: bold;
}

.p-1 {
	padding: .5rem;
}

.p-2 {
	padding: 1rem;
}

.p-4 {
	padding: 2rem;
}

.py-1 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.py-2 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-3 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.py-4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.px-1 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.px-3 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.px-4 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.bg-red-FF0000  {
	background-color: #FF0000;
}

.mb-1 {
	margin-bottom: .5rem;
}

.mb-2 {
	margin-bottom: 1rem;
}

.mb-3 {
	margin-bottom: 1.5rem;
}
.mr-1 {
	margin-right: .5rem;
}

.bg-white {
	background-color: #FFFFFF;
}

.text-white {
	color: #FFFFFF;
}

.text-gray-9CA3AF {
	color: #9CA3AF;
}

.text-red-ef5555 {
	color: #ef5555;
}

.text-gray-1F2937 {
	color: #1F2937;
}

.font-12px {
	font-size: 12px;
}

.cursor-pointer {
	cursor: pointer;
}
