<template>
	<div class="flex w-full flex-col">
		<div class="flex items-center justify-between py-1 mb-2">
			 <router-link :to="{name: 'user-favorites'}">
                    <md-button class="md-accent md-raised">
                        <div class="flex items-center">
                            <md-icon class="mr-1">folder_special</md-icon>
                            Ir a favoritos
                        </div>
                    </md-button>
                </router-link>
            <md-button class="md-accent md-raised" @click="loadUsers()">
                 
                 <div class="flex items-center">
                    <md-icon class="mr-1">person_search</md-icon>
                    Consultar nuevos Usuarios 
                </div>
            </md-button>
		</div>
        <div class="w-full mb-3">
            <acciona-table
                title="Usuarios"
                :cols="cols"
                :items="users"
                :hasError="hasError"
                :isLoading="isLoading"
                @filter="findWithFilters"
                @retry="loadUsers"
            />
        </div>
	</div>
</template>

<script>
import { getUsers } from '../services/users/getUsers';
import AccionaTable from '../components/AccionaTable';

export default {
    name: 'Users',
    components: {
        AccionaTable,
    },
    data(){
        return {
            hasError: false,
            isLoading: false,
            users: [],
            cols: [
                {
                    text: 'Género',
                    key: 'gender'
                },
                {
                    text: 'Nombre',
                    key: 'nameCompose',
                    isRouter: true
                },
                {
                    text: 'Email',
                    key: 'email'
                },
                {
                    text: 'Nacionalidad',
                    key: 'nat'
                },
                {
                    text: 'Fecha de Nacimiento',
                    key: 'fechaNacimiento',
                    isDate: true
                },
                {
                    text: 'Fecha de registro',
                    key: 'fechaRegistro',
                    isDate: true
                },
            ],
        };
    },
    created(){
        this.loadUsers();
    },
    methods: {
        async loadUsers(params = {}){
            if(!this.isLoading) {
                this.isLoading = true;
                this.users = [];
                this.hasError = false;
                try {
                    this.users = await getUsers(params);
                } catch (error) {
                    this.users = [];
                    this.hasError = true;
                } finally {
                    this.isLoading = false;
                }
            }
        },
        findWithFilters(event){
            this.loadUsers(event);
        }
    }

};
</script>
