<template>
	<div class="flex flex-col items-center py-1">
        <div class="flex justify-between w-full mb-1">
            <router-link :to="{name: 'users'}" class>
                <md-button class="md-accent md-raised">
                    <div class="flex items-center">
                        <md-icon class="mr-1">keyboard_backspace</md-icon>
                        Inicio
                    </div>
                </md-button>
            </router-link>
            <div>
                <md-field>
                    <label for="favlist">Selecciona una lista</label>
                    <md-select v-model="listSelectedId" name="favlist" id="favlist">

                        <md-option 
                            v-for="list in favList"
                            :key="`item_${list.id}`"
                            :value="list.id"
                        >
                            {{list.text}}
                        </md-option>
                    </md-select>
                </md-field>
            </div>
        </div>
        <div class="w-full" v-if="listSelected && listSelected.users">
            <acciona-table
                title="Usuarios"
                :cols="cols"
                :items="listSelected.users"
                :hasError="hasError"
                :isLoading="isLoading"
                :hideFilters="true"
                @retry="loadFavorites"
            />
        </div>
        <div class="mb-2 flex justify-end w-full">
            <md-button class="md-accent md-raised" @click="exportarCsv()">
                <div class="flex items-center">
                    <md-icon class="mr-1">get_app</md-icon>
                    Exportar
                </div>
            </md-button>
        </div>
    </div>
</template>

<script>
import { getFavorites } from '../services/users/getFavorites';
import AccionaTable from '../components/AccionaTable';

export default {
    name: 'UsersExport',
    components: {
        AccionaTable,
    },
    data(){
        return {
            hasError: false,
            isLoading: false,
            listSelectedId: null,
            favoriteItems: [],
            cols: [
                {
                    text: 'Género',
                    key: 'gender'
                },
                {
                    text: 'Nombre',
                    key: 'nameCompose',
                    isRouter: true
                },
                {
                    text: 'Email',
                    key: 'email'
                },
                {
                    text: 'Nacionalidad',
                    key: 'nat'
                },
                {
                    text: 'Fecha de Nacimiento',
                    key: 'fechaNacimiento',
                    isDate: true
                },
                {
                    text: 'Fecha de registro',
                    key: 'fechaRegistro',
                    isDate: true
                },
            ],
        };
    },
    created(){
        this.loadFavorites();
    },
    methods: {
        async loadFavorites(params = {}){
            if(!this.isLoading) {
                this.isLoading = true;
                this.favoriteItems = [];
                this.hasError = false;
                try {
                    this.favoriteItems = await getFavorites(params);
                    if(this.favoriteItems.length > 0) {
                        this.listSelectedId = this.favoriteItems[0].props.id;
                    }
                } catch (error) {
                    this.favoriteItems = [];
                    this.hasError = true;
                } finally {
                    this.isLoading = false;
                }
            }
        },
        exportarCsv() {
            let csv = '';
            this.cols.forEach((col, index)=> {
                csv+=`${col.text}${index !== this.cols.lenght -1 ? ',': ''}`;
            });
            csv+='\n';
            this.listSelected.users.forEach((user) => {
                const dataCsv = [
                    user.gender,
                    user.nameCompose,
                    user.email,
                    user.nat,
                    user.fechaNacimiento,
                    user.fechaRegistro
                ];
                csv += dataCsv.join(',');
                csv += '\n';
            });

            const anchor = document.createElement('a');
            anchor.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            anchor.target = '_blank';
            anchor.download = `${this.listSelected.props.text}.csv`;
            anchor.click();
        }
    },
    computed: {
        favList(){
            return this.favoriteItems.map(favItems => favItems.props);
        },
        listSelected(){
            return this.favoriteItems.find(items => this.listSelectedId === items.props.id);
        }
    }

};
</script>
