<template>
    <div class="flex flex-col">
        <router-link :to="{name: 'users'}" class="mb-3">
            <md-button class="md-accent md-raised">
                <div class="flex items-center">
                    <md-icon class="mr-1">keyboard_backspace</md-icon>
                    Inicio
                </div>
            </md-button>
        </router-link>
        <div class="flex flex-col px-4 py-2 md-elevation-6" v-if="userSelected">
            <div class="flex justify-around">
                <div>
                    <img :src="userSelected.picture.large" width="200px">
                </div>
                <l-map
                    style="height: 200px; width: 40%; z-index: 1"
                    :zoom="3"
                    :center="markLocation"
                >
                    <l-tile-layer :url="'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'"></l-tile-layer>
                    <l-circle-marker :lat-lng="markLocation" color="red"></l-circle-marker>
                </l-map>
                <div class="flex flex-col items-center justify-center">
                <div class=" cursor-pointer flex items-center" @click="changeFavorite()">
                    <md-icon v-if="!userSelected.favorite" class="md-size-3x">star_outline</md-icon>
                    <md-icon v-if="userSelected.favorite" class="md-size-3x">star</md-icon>
                </div>
                <router-link :to="{name: 'user-favorites'}">
                    <md-button class="md-accent md-raised">
                        <div class="flex items-center">
                            <md-icon class="mr-1">folder_special</md-icon>
                            Ir a favoritos
                        </div>
                    </md-button>
                </router-link>
                </div>
            </div>
            <div class="py-2">
                <md-divider></md-divider>
            </div>
            <div class="py-1 flex flex-col justify-center items-center">
                <span class="mb-2"> Nombre: <span class="font-bold text-red-ef5555">{{userSelected.name.first}} {{userSelected.name.last}}</span></span>
                <span> Email: <span class="font-bold text-red-ef5555">{{userSelected.email}}</span></span>
            </div>
            <div class="py-2">
                <md-divider></md-divider>
            </div>
            <div class="py-1 flex flex-col justify-center items-center">
                <div class="font-bold md-title mb-1">Datos de localización:</div>
                <span class="mb-2"> Ciudad: <span class="font-bold text-red-ef5555">
                    {{userSelected.location.city}}, {{userSelected.location.state}} {{userSelected.location.postcode}}
                </span></span>
                <span class="font-bold md-title"> Telefonos:</span>
                <span> Fijo: <span class="font-bold text-red-ef5555">{{userSelected.phone}}</span></span>
                <span> Móvil: <span class="font-bold text-red-ef5555">{{userSelected.cell}}</span></span>
            </div>
        </div>
        <modal-add-fav 
            :show="showModal"
            :item="userSelected"
            :favListItems="favListItems"
            @close="showModal = false"
            @selected="setUserFavorite" 
        />
    </div>
</template>
<script>
import { setFavorite } from '../services/users/setFavorite';
import { getFavorites } from '../services/users/getFavorites';

export default {
    name: 'UserDetail',
    components:{
        ModalAddFav: () => import('../components/ModalAddFav')
    },
    data() {
        return {
            userSelected: null,
            showModal: false,
            favListItems: []
        };
    },
    async created(){
        if(this.$route.params.item) {
            this.userSelected = this.$route.params.item;
        }
        if(!this.userSelected) {
            this.$router.push({name: 'users'});
        }
        this.getFavItemList();
    },
    methods:{
        async setUserFavorite(listProps) {
            const objectSend = {
                props: listProps,
                user: this.userSelected
            };
            this.showModal = false;
            try {
                objectSend.user.favorite = !objectSend.user.favorite;
                const user = await setFavorite(objectSend);
                this.userSelected.favorite = user.favorite;
                await this.getFavItemList();
            } catch (error) {
                console.error(error);
            } 
        },
        async getFavItemList() {
            try {
                this.favListItems = await getFavorites();
                if(this.favListItems.length === 0) this.isNewList = true;
            } catch (error) {
                console.error(error);
            }
        },
        close() {
            this.showModal = false;
        },
        changeFavorite() {
            this.showModal = true;
        }
    },
    computed: {
        markLocation(){
            return [this.userSelected.location.coordinates.latitude, this.userSelected.location.coordinates.longitude];
        }
    }
    
};
</script>
