<template>
	<div class="flex flex-col">
		   <div class="w-full mb-3">
            <md-table :value="itemsData" md-sort="name" md-sort-order="asc" md-card md-fixed-header :md-model-id="'id'">
                <md-table-toolbar>
                    <h1 class="md-title">{{ title }}</h1>
                </md-table-toolbar>
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                    <md-table-cell 
                        v-for="(col, index) in cols" 
                        :key="`col_${col.key}_${index}`" 
                        :md-label="col.text" 
                        :md-sort-by="col.key"
                    >
                        <template v-if="!col.isRouter">
                            <span v-if="!col.isDate">{{ item[col.key] }}</span>
                            <span v-else>{{ item[col.key] | date }}</span>
                        </template>
                        <router-link 
                            v-else
                            :to="{ 
                                name: 'user-detail', 
                                query: { id: item.login.uuid },
                                params: { item }
                            }"
                        >{{item[col.key]}}</router-link>
                    </md-table-cell>
                </md-table-row>
                <div slot="md-table-empty-state">
                    <div v-if="!isLoading && hasError" class="py-2">
                        <md-empty-state
                            class="md-accent"
                            md-rounded
                            md-icon="report "
                            :md-label="error.label"
                            :md-description="error.description"
                        >
                            <md-button class="md-accent md-raised" @click="$emit('retry')">Reintentar</md-button>
                        </md-empty-state>
                    </div>
                </div>
            </md-table>
             <div v-if="isLoading" class="flex flex-col justify-center items-center py-4"> 
                <span class="font-bold mb-2">Cargando...</span>
                <md-progress-spinner class="md-accent" md-mode="indeterminate"></md-progress-spinner>
            </div>
        </div>
        <div class="flex w-full md-elevation-8 flex flex-col py-2 px-4" v-if="!hideFilters && items.length > 0">
            <div class="w-full flex justify-between cursor-pointer" @click="showFilter = !showFilter">
                <span class="md-title">Filtros</span>
                <div>
                    <md-icon>{{showFilter ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
                </div>
            </div>
            <template v-if="showFilter">
                <div class="py-2">
                    <md-divider></md-divider>
                </div>
                <div class="">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item">
                            <md-field>
                                <label>Género</label>
                                <md-select 
                                    id="genero" 
                                    name="genero" 
                                    v-model="filters.gender" 
                                    :required="false"
                                    placeholder="Género"
                                >
                                    <md-option value="male">Male</md-option>
                                    <md-option value="female">Female</md-option>
                                </md-select>
                            </md-field>
                        </div>
                        <div class="md-layout-item">
                            <md-field>
                                <label>Edad</label>
                                <md-input 
                                    v-model="filters.edad" 
                                    type="number"
                                ></md-input>
                            </md-field>
                        </div>
                        <div class="md-layout-item">
                            <md-field>
                                <label>Género</label>
                                <md-select 
                                    id="nacionalidad" 
                                    name="nacionalidad"
                                    v-model="filters.nat"
                                    :required="false"
                                    placeholder="Nacionalidad"
                                >
                                    <md-option v-for="nat in nacionalidades" :value="nat" :key="nat">{{ nat }}</md-option>
                                </md-select>
                            </md-field>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div>
                        <md-button class="md-primary md-raised" @click="cleans()"> Limpiar </md-button>
                    </div>
                    <div class="flex justify-end w-full py-2">
                        <md-button class="md-accent md-raised" @click="filterLocal()"> Filtrar actuales </md-button>
                        <md-button class="md-accent md-raised" @click="filterElementsCall()"> LLamada con filtro </md-button>
                    </div>
                </div>
              
            </template>
        </div>
	</div>
</template>
<script>
import { dateFilter } from '../filters/dateFilter';

export default {
    name: 'AccionaTable',
    filters: {
        date: (value) => dateFilter(value),
    },
    props: {
        items: {
            default: () => [],
            type: Array
        },
        cols: {
            default: () => [],
            type: Array,
        },
        title: {
            default: () => 'Items',
            type: String
        },
        isLoading: {
            default: () => false,
            type: Boolean,
        },
        hasError: {
            default: () => false,
            type: Boolean
        },
        hideFilters:{
            default: () => false,
            type: Boolean
        }
    },
    data() {
        return {
            filters: {
                gender: '',
                edad: null,
                nat: ''
            },
            error: {
                label: 'Error en la carga',
                description: 'Ha habido un error al conectar con https://randomuser.me/api/.'
            },
            showFilter: false,
            itemsFilter: [],
            isFilter: false,
        };
    },
    watch:{
        items: {
            deep: true,
            handler(){
                this.isFilter = false;
            }
        }
    },
    computed: {
        nacionalidades(){
            return [...new Set(this.items.map(item => item.nat))];
        },
        itemsData(){
            return this.isFilter ? this.itemsFilter : this.items;
        }
    },
    methods: {
        filterElementsCall() {
            this.$emit('filter', this.filters);
        },
        filterLocal(){
            this.itemsFilter = this.items.filter(item => {
                return (this.filters.gender && item.gender === this.filters.gender) ||
                    (this.filters.nat && item.nat === this.filters.nat) ||
                    (this.filters.edad && +item.dob.age === +this.filters.edad);
            });
            this.isFilter = true;
        },
        cleans(){
            this.isFilter = false;
            this.filters = {
                gender: '',
                edad: null,
                nat: ''
            };
        }
    }
};
</script>
