<template>
    <header class="flex flex-row justify-between bg-white items-center px-4">
        <router-link :to="{name: 'users'}">
            <img src="../assets/acciona_icon.png" alt="acciona" id="image-acciona">
        </router-link>
            <div class="flex flex-col justify-end">
                <span class="font-bold text-gray-1F2937">Prueba Acciona</span>
                <span class="font-12px text-gray-9CA3AF">Por Juan Pedro Cantarero Reyes</span>
            </div>
    </header>
</template>
<script>
export default {
    name: 'HeaderAcciona'
};
</script>

<style scoped>
  header {
    height: 100px;
  }
  header span {
    padding-top: 0;
  }
  header #image-acciona {
    width: 130px;
  }
</style>
