<template>
	<div>
        <md-dialog :md-active.sync="show" :md-close-on-esc="false" @md-closed="$emit('close')">
            <md-dialog-title>{{item && item.favorite ? 'Eliminar de' : 'Añadir a'}}  favoritos</md-dialog-title>
            <div class="px-4 py-1">
                <template v-if="item && !item.favorite">
                    <div class="py-2" v-if="!forceNewList">
                        <md-switch v-model="isNewList">Nueva Lista</md-switch>
                    </div>
                    <div class="w-full py-1" v-if="!isNewList && !forceNewList">
                        <md-field>
                            <label for="favlist">Lista</label>
                            <md-select v-model="idSelectedSelect" name="favlist" id="favlist" :disabled="isNewList">
                                <md-option 
                                    v-for="list in favListOptions"
                                    :key="`item_${list.id}`"
                                    :value="list.id"
                                >
                                    {{list.text}}
                                </md-option>
                            </md-select>
                        </md-field>
                    </div>
                    <div class="py-2" v-else>
                        <md-field>
                            <label>Nombre de la nueva lista</label>
                            <md-input v-model="newListName"></md-input>
                        </md-field>
                    </div>
                </template>
                <template v-else-if="show">
                    <div class="text-gray-9CA3AF flex px-4 py-1">
                        <span>Va a elimira a {{item.nameCompose}} de la lista {{favListSelected.props.text}}</span>
                    </div>
                </template>
            </div>
            <md-dialog-actions>
                <md-button class="md-primary" @click="emitList">{{ item && item.favorite ? 'Eliminar' : 'Añadir'}}</md-button>
            </md-dialog-actions>
        </md-dialog>
  </div>
</template>
<script>
export default {
    name: 'ModalAddFav',
    props: {
        show:{
            default: () => false,
            type: Boolean
        },
        item: {
            default: () => null,
            type: Object
        },
        favListItems: {
            default: () => [],
            type: Array
        }
    },
    data(){
        return {
            isNewList: false,
            newListName: null,
            listSelected: null,
            idSelectedSelect: null
        };
    },
    methods: {
        setNewList() {
            let list;
            if(this.isFavorite) {
                list = this.favListSelected.props;
            } else {
                if(!this.isNewList && !this.forceNewList){
                    list = this.favListOptions.find(item => item.id === this.idSelectedSelect);
                } else {
                    list = {
                        id: null,
                        text: this.newListName
                    };
                }
            }
            return list;
        },
        emitList(){
            const list = this.setNewList();
            this.$emit('selected', list);
        }
    },
    computed: {
        isFavorite(){
            return this.item && this.item.favorite;
        },
        favListOptions() {
            return this.favListItems ? this.favListItems.map(item => item.props): [];
        },
        favListSelected() {
            if(!this.item && !this.item.favorite) {
                return null;
            }
            return this.favListItems ? this.favListItems.find(favItem => !!favItem.users.find(user => user.login.uuid === this.item.login.uuid)) : null;
        },
        idSelected(){
            return this.favListSelected ? this.favListSelected.props.id : null;
        },
        forceNewList(){
            return !this.favListItems || this.favListItems.length === 0;
        }
    }
};
</script>
